* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.bg {
    z-index: -5;
    color: #fff;
    background: linear-gradient(-45deg, rgb(114, 32, 168), rgb(252, 51, 51));
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

#bg-img {
    z-index: -4;
    position: fixed;
    object-fit: cover;
    min-width: 100vw;
    min-height: 100vh;
}

header {
    z-index: 4;
    position: fixed;
    height: 100vh;
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 4;
    flex-grow: 4;
    transform: scale(1.2);
}

.nav-links {
    list-style-type: none;
    width: 5vw;
}

.nav-item {
    margin: 3vh;
}

.nav-link {
    opacity: 65%;
    transition: 0.5s;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-link:hover {
    opacity: 100%;
}

section {
    z-index: 3;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.home-content {
    z-index: 3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 25vw;
    justify-content: center;
    flex-grow: 2;
    flex-shrink: 2;
    transform: scale(1.5);
    transition: 0.3s;
}

.home-content h1{
    color: #FFFFFF;
}

.home-content h3{
    font-weight: lighter;
    color: #B8DAFF;
}

.home-buttons {
    padding-top: 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.btn-projects,
.btn-resume {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-style: solid;
    border-radius: 1rem;
    transition: 0.3s;
    
}
.btn-projects {
    font-weight: bold;
    border-color: white;
    margin-right: 15px;
    color: black;
    background: white;
}

.btn-projects:hover {
    font-weight: lighter;
    background: none;
    color: white;
}

.btn-resume:hover {
    font-weight: bold;
    background: rgb(218, 54, 68);
    border-color: rgb(218, 54, 68);
    color: white;
}

.social-icons {
    padding-top: 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.soc-link {
    color: white;
    padding: 10px;
    padding-left: 0px;
    text-decoration: none;
}

.about-content {
    z-index: 3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 25vw;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-shrink: 2;
    transform: scale(1.5);
    transition: 0.5s;
    overflow-wrap: break-word;
}

.about-content h1 {
    color: #FFFFFF;
    padding-bottom: 15px;
}

.about-content .paragraph {
    color: #FFFFFF;
    padding-inline-end: 10px;
    width: 40vh;
    font-size: 18px;
}

.contact-content {
    z-index: 3;
    height: 100vh;
    width: 45vw;
    padding-left: 25vw;
    transform: scale(1.5);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-content h1{
    color: #FFFFFF;
    padding-bottom: 15px;
}

.contact {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

#fname, #lname {
    width: 10vw; 
}

input[type=text] {
    border-radius: 0.2rem;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid white;
}

input[type=submit] {
    margin-top: 15px;
    padding: 0.5em;
    width: 5vw;
    border-radius: 1rem;
    border: 0;
    background-color: white;
}

input[type=text]:focus {
    border: none;
    color: white;
}

label {
    margin: 4px;
}

#subject {
    background: white;
    color: rgb(7, 8, 34);
    border: none;
    margin-top: 15px;
}

#subject:focus {
    background: white;
    color: rgb(7, 8, 34);
    border: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(7, 8, 34);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(7, 8, 34);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(7, 8, 34);
  }

@keyframes change {
    0% {
        opacity: 65%;
    }
    100% {
        background-position: 100%;
    }
}

@media all and (max-width: 618px) {
    header {
        transform: scale(1);
    }

    .home-content,
    .about-content,
    .contact-content{
        transform: scale(1);
        padding-left: 11vh;
    }

    .contact-content {
        font-size: 14px;
        padding-left: 25vw;
        width: 80vw;
    }

    #name,
    input[type=submit],
    input[type=text] {
        width: 20vw;
        
    }
}

@media screen and (max-width: 380px) {
    .home-content, .about-content .paragraph{
        width: 70vw;
    }

    .btn-projects,
    .btn-resume {
        margin: 1vw;
        display: flex;
        flex-direction: column;
        
       
    }
}
